# exclude everything
db/*
!db/.gitignore

node_modules/

/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/teststack.iml
/.idea/vcs.xml
/.idea/workspace.xml
/serverold/
/node-express-mongoose-demo/
/.idea/Vue3Ts_NodeExpressTs_Stack.iml
/.idea/.gitignore
/.idea/dataSources.xml
